img{
    max-width: 100%;
    max-height: 100%;
  }

.logo{
  height: 50px;
  width: auto;
}

.logo p{
  color: white;
  text-align: left;
  font-size: large;
  padding: 20px 0;
  cursor: pointer;

}

header{
  padding: 12px 0;
  background-color: #052225;
}

.menu{
  margin-top: 10px;
}

.menu ul{
  padding: 0;
  margin: 0;
}

.menu ul li{
  list-style-type: none;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-left: 24px;
}

.menu ul li:hover{
  color: #12c5e0;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}


@media only screen and (max-width: 999px) {

  .menu{
    position: fixed;
    right: -280px;
    top: 64px;
    width: 280px;
    height: 100%;
    background-color: #222;
    transition: 0.4s ease-in-out;
  }


  .menu ul li{
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid rgb(45, 44, 44);

  }

  .menu_icon{
    display: inline-block;
    position: relative;
    right: 0;
    top: 20px;
  }

  .menu_icon span{
    width: 32px;
    height: 3px;
    background-color: white;
    display: block;
    transition: 0.2s ease-in-out;
  }

  .menu_icon span:nth-child(2){
    margin: 4px 0;
  }


  .menu_icon_Class span:nth-child(2){
    display: none;
  }

  .menu_icon_Class span:nth-child(1){
    transform: rotate(40deg);
  }
  
  .menu_icon_Class span:nth-child(3){
    transform: rotate(-40deg);
    margin-top: -3px;
  }

  .menuClass{
    right: 0;
    transition: 0.4s ease-in-out;
  }

  .logo{
    height: 70px;
    width: auto;
  }

  .logo p{
    font-size: small;
    padding: auto;

  }
}
