
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Travelers</a></li>
                        <li><a href="#">Hosts</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>RestHouse</h3>
                    <p>“The world is yours!” 💪🛖 </p>
                </div>
                <div class="col item social"><a href="#"><mat-icon >facebook</mat-icon></a><a href="#"><mat-icon >whatsapp</mat-icon></a><a href="#"> <mat-icon >poll</mat-icon> </a><a href="#"> <mat-icon >play_arrow</mat-icon> </a></div>
            </div>
            <p class="copyright">© {{anio}} RestHouse</p>
        </div>
    </footer>
