<script src="https://kit.fontawesome.com/9cad820163.js" crossorigin="anonymous"></script>

<div class="hero">
    <div class="content">
    <h4>Hello, this is </h4>
    <h1>Rest <span>House</span></h1>
        <h3>A website designed for you.</h3>
    </div>

</div>

<!----About section start---->
<section class="about">
<div class="main">
    <div class="about-text">
        <h2>About us</h2>
        <h5>Travelers <span>& Hosts</span></h5>
        <p>We are going to help you a place to stay in while you travel. Or even if you need any help on your house</p>
        <button type="button">Let's start</button>
    </div>
</div>
</section>

<!-----service section start----------->
<div class="service">
<div class="title">
    <h2>Our Services</h2>
</div>

<div class="box">
    <div class="card">
        <h5>Find a place</h5>
        <div class="pra">
            <p>Travel wherever you want and have always where to stay</p>

            <p style="text-align: center;">
                <a class="button" href="#">Read More</a>
            </p>
        </div>
    </div>

    <div class="card">
        <h5>Find a person</h5>
        <div class="pra">
            <p>Have always a person to help you with several things you could need</p>

            <p style="text-align: center;">
                <a class="button" href="#">Read More</a>
            </p>
        </div>
    </div>


</div>
</div>